<% if (errors.length > 0) {%>
<div class="error-messages">
  <% errors.forEach( err => { %>
    <%= err %> <br>
  <% }) %>
</div>
<% } %>

<% if (success.length > 0) {%>
  <div class="success-messages">
    <% success.forEach( success => { %>
      <%= success %> <br>
    <% }) %>
  </div>
  <% } %>