<div class="navbar">
    
    <div class="nav-content">

        <h1 class="title"> <a href="/">Login Exercise</a> </h1>

        <ul>
            <% if (!user) { %>
            <li>
                <a href="/login">Login</a>
            </li>
            <li>
                <a href="/register">Register</a>
            </li>
            <% } else {%>
            <li>
                <a href="/logout">logout</a>
            </li>
            <% } %>
        </ul>
    </div>
</div>

<script src="./assets/js/bundle.js"></script>