<%- include('includes/nav') %>

<div class="main-container">

    <%- include('includes/messages') %>

    <div class="logged-container">
      <p class="logged">Hello, <%= user.name %></p>
      <p class="text-logged">You are inside the system</p>
    </div>

</div>


<script src="./assets/js/bundle.js"></script>
